.videocolab_banner_sec {
  background-image: url("../../public//images/video-colaboracion/banner-sec.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

@media screen and (max-width: 992px){
  .videocolab_banner_sec {
    padding: 1rem;
  }
  .videocolab_banner_sec::after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .training{
    z-index: 99;
  }
}