.wfa_banner_sec {
  background-image: url("../../public//images/wfa/banner-sec.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.bubbles_Work {
  background: url("../../public/images/preventa/bubbbles_background.png")
    no-repeat;
  background-size: cover;
  box-shadow: 0 -10px 20px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  margin-top: 10rem;
}
.bubble_work_Card {
  position: relative;
  top: -4.1rem;
}
.fondo_gradient {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 60%,
    rgba(223, 235, 239, 1) 100%
  );
}
.bg_verde_suave {
  background: #eef9ed;
}

.total_balance{
  color: #24b115 !important;
}
@media screen and (max-width: 992px) {
  .wfa_banner_sec {
    padding: 2rem;
  }
  .wfa_banner_sec::after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
