.bg-sec2-datacapture {
  background-image: url("../../public/images/datacapture/banner-sec.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
@media screen and (max-width: 992px) {
  .bg-sec2-datacapture::after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .datacapture .button_orange button {
    color: #fff !important;
  }
}
