.specialist_banner {
  background-image: url("../../public/images/preventa/banner_bottom_v2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.border_left {
  border-left: 2px solid #000;
}
.text_contact {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .specialist_banner {
    padding: 1rem;
  }
  .specialist_banner::after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .border_left {
    border-left: 2px solid #fff;
  }
}
@media screen and (max-width: 768px) {
  .border_left {
    border-left: none;
    margin-top: 1.5rem !important;
  }
}
